
/* Your CSS Code here. */
.holder {
    display: flex;
    flex-wrap: wrap; 
    /* justify-content: space-between;  */
    padding: 10px; 
}
.item {
    flex: 0 1 calc(20% - 10px); 
    margin: 5px; 
    text-align: center; 
    padding: 20px;
    background-color: lightblue; 
    border-radius: 5px; 
    font-family: Arial, sans-serif; 
    font-size: 18px; 
    font-weight: bold; 
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2); 
}

@media (max-width: 600px) {
    .item {
        flex: 0 1 calc(45% - 10px); 
    }
}